body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-container {
    flex-basis: 45%;
}

.table-container {
    flex-basis: 60%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

input[type="number"] {
    width: 80%;
    padding: 8px;
    margin: 5px auto;
    display: block;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h2 {
    color: #333;
    margin-top: 20px;
}

p {
    color: #555;
    margin: 10px 0;
}


.Informacion {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


.instructions {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Alineación a la izquierda */
}
.instructions li {
    margin-bottom: 10px;
}
.instructions li:last-child {
    margin-bottom: 0;
}
.instructions strong {
    color: #007bff;
}

#Instruc {
    margin: 10px; /* Margen en todos los lados */
    padding: 10px; /* Relleno en todos los lados */
    margin-bottom: 50px;
    background-color: #f2f2f2; /* Color de fondo */


}